html {


  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.dark {
  background-color: darkgrey;
}

.light {
  background-color: lightgrey;
}

.nav-title {
  font-size: 1.2rem;
}

.img-flex {
  width: 100%;
  display: block;
}

.intro {
  text-align: center;
}

.masthead {
  overflow: hidden;
}

.title {
  text-align: center;
}

.nav {
  padding: 0;
  vertical-align: middle;
}

.nav li {
  display: block;
}

.nav a,
.nav a:link,
.nav a:visited {
  display: block;

  color: blue;
  text-decoration: none;
}

.nav .nav-current,
.nav .nav-current:link,
.nav .nav-current:visited,
.nav a:hover,
.nav a:focus,
.nav a:active {
  background-color: blue;

  color: white;
}

@media only screen and (min-width: 25em) {

  .nav {
    text-align: center;
  }

  .nav li {
    display: inline-block;
  }
}

@media only screen and (min-width: 38em) {

  .title,
  .nav {
    text-align: left;
  }
}
